.post-container {
  padding: 50px;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;

    .post-title {
      p {
        font-size: 5em;
        font-weight: bold;
      }
    }

    .post-date {
      font-size: 1.5em;
      border-bottom: 2px solid darkorchid;
    }

    .post-content-controls {
      //border: 1px solid red;
      display: flex;
      justify-content: flex-end;

      .post-content-edit {
        font-size: 1.5em;
        border-bottom: 2px solid darkorchid;
        margin: 0 40px;
      }

      .post-content-delete {
        font-size: 1.5em;
        border-bottom: 2px solid darkorchid;
      }

    }
  }

  .post-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;

    .post-content-image {
      width: 200px;
      height: 200px;

      img {
        height: 200px;
        width: 200px;

      }
    }

    .post-content-text {
      background: whitesmoke;
      width: calc(100% - 200px);
      height: 200px;
      overflow: hidden;

      p {
        margin: 20px;
        font-size: 2em;

      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .post-container {
    padding: 0;
    margin-bottom: 20px;

    .post-content {
      margin: 0;

    }
  }
}

@media only screen and (max-width: 600px) {
  .post-container {
    .title-container {


      .post-date {
        visibility: hidden;
      }
    }

    .title-container {
      margin: 0;

      .post-title {
        width: 100%;
        p {
          font-size: 2em;
          font-weight: bold;
        }
      }

      .post-content-controls {

        .post-content-edit {
          margin-left: 40px;
        }

        .post-content-delete {
          margin-left: 40px;
        }
      }
    }
    .post-content {
      .post-content-text {
        overflow: scroll;
      }
    }
  }

}