.blogpost-container {
  width: 80%;
  margin: 0 auto;

  .blogpost-title {
    padding: 40px;

    p {
      display: flex;
      justify-content: center;
      font-size: 3em;
      font-weight: bold;
    }
  }

  .blogpost-content {
    width: 100%;


    .blogpost-content-content {
      width: 90%;
      margin: auto;

      p {
        font-size: 2em;
        width: 100%;
        padding-bottom: 40px;
      }
    }

    .blogpost-content-photo {
      width: 80%;
      margin: auto;


      img {
        padding: 0 40px 40px 0;
        margin: auto;
        float: left;
        width: 400px;
        height: 400px;


      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .blogpost-container {

    .blogpost-content {

  .blogpost-content-photo {
    img {
    width: 250px;
    height: 250px;



    }
}}}}
@media only screen and (max-width: 600px) {
  .blogpost-container {

    .blogpost-content {

      .blogpost-content-photo {

        img {

          width: 250px;
          height: 250px;


        }
      }}}}
