.header-container {
  padding: 10px 50px;
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
.header-container {
  padding: 10px 0;
}
}