.postForm-container {
  margin: 0 auto;
  width: 1200px;


  .postForm-heading {
    width: 100%;

    p {
      margin: 40px 0;
      text-align: center;
      font-size: 3.5em;
    }
  }

  .postForm-container-content {
    width: 100%;


    .postForm-content-container {
      width: 80%;
      margin: 0 auto;


      .postForm-content {
        margin: 20px 0;

        label {
          display: flex;
          font-size: 2em;
          padding: 10px 0;

        }

        input {
          width: 100%;
          height: 50px;
          font-size: 2em;

        }

        textarea {
          width: 100%;
          height: 50px;
          font-size: 2em;

        }

        input:focus,
        textarea:focus,
        {
          box-shadow: 3px 3px 5px grey;
        }

      }
    }

  }
}

.postForm-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    font-size: 2em;
    margin: 40px;
    padding: 5px 20px;
  }

  button:hover {
    transition: 0.1s;
    transform: scale(0.99);
  }
}

@media only screen and (max-width: 900px) {

  .postForm-container {
    width: 100%;

    .postForm-container-content {

      .postForm-content-container {
        width: 80%;


      }
    }
  }

}